noelle char lvl=90/90 cons=6 talent=9,9,9;
// Weapons
noelle add weapon="serpentspine" refine=1 lvl=90/90  +params=[stacks=5];
#noelle add weapon="redhorn" refine=1 lvl=90/90;
#noelle add weapon="whiteblind" refine=5 lvl90/90;
// Artifact sets
#noelle add set="notsu" count=4;
noelle add set="mh" count=4;
#noelle add set="husk" count=4 	+params=[stacks=4];
// Main stats
noelle add stats hp=4780 atk=311 def%=0.583 geo%=0.466 cd=0.622;
// Sub stats
noelle add stats hp=253.94*2 hp%=0.0496*2 atk=16.54*2 atk%=0.0496*2 def=19.68*2 def%=0.062*6 em=19.82*2 er=0.0551*4 cr=0.0331*8 cd=0.0662*10;   // SS, CD hat, C6 Illuga
#noelle add stats def%=0.062*5 def=19.68*2 hp=253.94*2 hp%=0.0496*2 atk=16.54*2 atk%=0.0496*2 er=0.0551*4 em=19.82*2 cr=0.0331*10 cd=0.0662*9;   // Redhorn, CR hat

noelle char lvl=90/90 cons=6 talent=10,10,10;
// Weapons
#noelle add weapon="serpentspine" refine=5 lvl=90/90  +params=[stacks=5];
noelle add weapon="redhorn" refine=1 lvl=90/90;
// Artifact sets
#noelle add set="husk" count=4   +params=[stacks=4];
#noelle add set="mh" count=4;
noelle add set="notsu" count=4;
// Main stats
noelle add stats hp=4780 atk=311 def%=0.583 geo%=0.466 cd=0.622; #main
noelle add stats geo%=0.2 em=102.82;    // GFO buff
// Sub stats
#noelle add stats def=19.68*2 hp=253.94*2 hp%=0.0496*2 atk=16.54*2 atk%=0.0496*2 def%=0.062*5 em=19.82*2 er=0.0551*4 cr=0.0331*10 cd=0.0662*9;   // Redhorn, KQMS CR hat
noelle add stats def=19.68*2 hp=253.94*0 hp%=0.0496*0 atk=16.54*0 atk%=0.0496*2 def%=0.062*7 em=19.82*1 er=0.0551*4 cr=0.0331*10 cd=0.0662*13;   // Redhorn hyperinvest
#noelle add stats def=19.68*2 hp=253.94*0 hp%=0.0496*0 atk=16.54*0 atk%=0.0496*2 def%=0.062*8 em=19.82*1 er=0.0551*4 cr=0.0331*10 cd=0.0662*12;   // SS R5 hyperinvest

###########################
###########################

== BURSTLESS BINA ==

columbina char lvl=90/90 cons=0 talent=9,9,9;
columbina add weapon="sacjade" refine=1 lvl=90/90;
columbina add set="morningstar" count=4;
columbina add stats hp=4780 atk=311 hp%=0.466 hp%=0.466 cd=0.622; #main
columbina add stats def%=0.062*2 def=19.68*2 hp=253.94*2 hp%=0.0496*8 atk=16.54*2 atk%=0.0496*2 er=0.0551*2 em=19.82*3 cr=0.0331*4 cd=0.0662*13;

== BASIC JADE BINA ==

columbina char lvl=90/90 cons=0 talent=9,9,9;
columbina add weapon="sacjade" refine=1 lvl=90/90;
#columbina add set="sms" count=4;
columbina add set="morningstar" count=4;
columbina add stats hp=4780 atk=311 hp%=0.466 em=187 cd=0.622; #main
columbina add stats def%=0.062*2 def=19.68*2 hp=253.94*2 hp%=0.0496*7 atk=16.54*2 atk%=0.0496*2 er=0.0551*2 em=19.82*4 cr=0.0331*7 cd=0.0662*10;

== FAV XILO ==

xilonen char lvl=90/90 cons=0 talent=9,9,9; 
xilonen add weapon="favsword" refine=3 lvl=90/90;
xilonen add set="scroll" count=4;
xilonen add stats hp=4780 atk=311 def%=0.583 def%=0.583 cr=0.311; #main
xilonen add stats def%=0.248 def=39.36 hp=507.88 hp%=0.0992 atk=33.08 atk%=0.0992 er=0.1102 em=39.64 cr=0.331 cd=0.7944;

== FAVRINA ==

furina char lvl=90/90 cons=0 talent=9,9,9;
furina add weapon="favsword" refine=3 lvl=90/90;
#furina add set="sms" count=4;
#furina add set="totm" count=4;
furina add set="gt" count=4;
furina add stats hp=4780 atk=311 er=0.518 hp%=0.466 cr=0.311; #main
furina add stats def%=0.062*2 def=19.68*2 hp=253.94*2 hp%=0.0496*4 atk=16.54*2 atk%=0.0496*2 er=0.0551*2 em=19.82*2 cr=0.0331*10 cd=0.0662*12;

== FESTERING/PIPE FURI ==

furina char lvl=90/90 cons=0 talent=9,9,9;
furina add weapon="festeringdesire" refine=5 lvl=90/90;
#furina add weapon="pipe" refine=5 lvl=90/90;
furina add set="silkenmoonsserenade" count=4;
#furina add set="gt" count=4;
furina add stats hp=4780 atk=311 hp%=0.466 hp%=0.466 cr=0.311;
#furina add stats hp=4780 atk=311 hp%=0.466 hp%=0.466 cd=0.622;
furina add stats hp=507.88 hp%=0.0496*6 atk=33.07 atk%=0.0991 def=39.35 def%=0.1239 em=39.63 er=0.0551*4 cr=0.0331*8 cd=0.0662*12;
#furina add stats hp=507.88 hp%=0.0496*4 atk=33.07 atk%=0.0991 def=39.35 def%=0.1239 em=39.63 er=0.0551*4 cr=0.0331*11 cd=0.0662*9;

== C0 LINN ==

#linnea char lvl=90/90 cons=0 talent=9,9,9;                     // KQMS
linnea char lvl=90/90 cons=0 talent=6,10,6;                     // invested talents
#linnea add weapon="slingshot" refine=5 lvl=90/90;              // KQMS
linnea add weapon="tomeoftheeternalflow" refine=1 lvl=90/90;    // GFO base stats
linnea add stats def%=0.16 geo%=0.4 em=215;                     // Simluating GFO based on LunarToEM calc, starting 40 EM/85% average LCrys bonus
linnea add set="morningstar" count=4;
#linnea add set="husk" count=4   +params=[stacks=4];
#linnea add set="sms" count=4;
linnea add stats hp=4780 atk=311 def%=0.583 def%=0.583 cr=0.311; #main
linnea add stats hp=507.88 hp%=0.0991 atk=33.07 atk%=0.0991 def=39.35 def%=0.062*4 em=39.63 er=0.1101 cr=0.3966 cd=0.6605;

##############################
##############################

== EM ILLUGA ==

illuga char lvl=90/90 cons=6 talent=9,9,9;
illuga add weapon="dragonsbane" refine=5 lvl=90/90;
illuga add set="sms" count=5;
illuga add stats hp=4780 atk=311 em=187 em=187 em=187; #main
illuga add stats def%=0.062*2 def=19.68*2 hp=253.94*2 hp%=0.0496*2 atk=16.54*2 atk%=0.0496*2 er=0.0551*12 em=19.82*12 cr=0.0331*2 cd=0.0662*2;

== ER FAV + FAVRINA ILLUGA ==

illuga char lvl=90/90 cons=6 talent=9,9,9;
illuga add weapon="favlance" refine=5 lvl=90/90;
illuga add set="sms" count=5;
illuga add stats hp=4780 atk=311 er=0.518 em=187 cr=0.311; #main
illuga add stats def%=0.062*2 def=19.68*2 hp=253.94*2 hp%=0.0496*2 atk=16.54*2 atk%=0.0496*2 er=0.0551*6 em=19.82*12 cr=0.0331*8 cd=0.0662*2;

== SAMPLE AINO ==

aino char lvl=90/90 cons=6 talent=9,9,9;
aino add weapon="favoniusgreatsword" refine=3 lvl=90/90;
#aino add stats em=240;    // Simulating Master Key
aino add set="silkenmoonsserenade" count=4;
aino add stats hp=4780 er=0.518 em=187 cr=0.311;
aino add stats hp=4780 hp%=0.0991 atk=33.07 atk%=0.0991 def=39.35 def%=0.1239 em=19.315*4 er=0.0551*2 cr=0.0331*10 cd=0.0662*12;

== EXILE GOROU ==

gorou char lvl=90/90 cons=6 talent=9,9,9;
gorou add weapon="favbow" refine=4 lvl=90/90;
gorou add set="exile" count=4;
gorou add set="eosf" count=1;
gorou add stats hp=4780 atk=311 er=0.518 def%=0.435 cr=0.232; 		// 5-star ER sands; capped KQMS ER here is ~277%
gorou add stats def%=0.062*0.8*2 def=19.68*0.8*2 hp=253.94*0.8*2 hp%=0.0496*0.8*2 atk=16.54*0.8*2 atk%=0.0496*0.8*2 er=0.0551*0.8*10 em=19.82*0.8*2 cr=0.0331*2 cr=0.0331*0.8*8 cd=0.0662*0.8*6;		// 5* ER sands has KQMS cap of 2 CR rolls

== SAMPLE YUNJIN ==

yunjin char lvl=90/90 cons=6 talent=9,9,9;
#yunjin add weapon="rightfulreward" refine=5 lvl=90/90;
yunjin add weapon="footprint" refine=5 lvl=90/90;
#yunjin add set="husk" count=4 	+params=[stacks=4];
yunjin add set="scroll" count=4;
yunjin add stats hp=4780 atk=311 def%=0.583 def%=0.583 def%=0.583; #main
yunjin add stats def%=0.062*6 def=19.68*2 hp=253.94*2 hp%=0.0496*2 atk=16.54*2 atk%=0.0496*2 er=0.0551*11 em=19.82*2 cr=0.0331*9 cd=0.0662*2;

== SAMPLE GMC ==

luminegeo char lvl=90/90 cons=6 talent=1,9,9;
luminegeo add weapon="pipe" refine=5 lvl=90/90;
luminegeo add set="scroll" count=4;
#luminegeo add set="gt" count=4;
luminegeo add stats atk%=0.466 geo%=0.466 cr=0.311;
luminegeo add stats def%=0.062*2 def=19.68*2 hp=253.94*2 hp%=0.0496*2 atk=16.54*2 atk%=0.0496*4 er=0.0551*2 em=19.82*2 cr=0.0331*10 cd=0.0662*12;

################################
################################

== SAMPLE DURIN, 2E/ROTA ==

durin char lvl=90/90 cons=0 talent=9,9,9; 
durin add weapon="moonweaversdawn" refine=1 lvl=90/90;
durin add set="risingwinds" count=4;
#durin add set="hg" count=4;
durin add stats hp=4780 atk=311 atk%=0.466 pyro%=0.466 cr=0.311;		// ATK% sands
#durin add stats hp=4780 atk=311 er=0.518 pyro%=0.466 cr=0.311;		// ER sands
durin add stats def%=0.124 def=39.36 hp=507.88 hp%=0.0992 atk=33.08 atk%=0.496*2 er=0.0551*4 em=39.64 cr=0.331 cd=0.7944;

== ER NICOLE ==

nicole char lvl=90/90 cons=0 talent=9,9,9; 
nicole add weapon="oathsworn" refine=5 lvl=90/90;
nicole add set="hg" count=4;
nicole add stats hp=4780 atk=311 atk%=0.466 atk%=0.466 atk%=0.466;
nicole add stats def%=0.062*2 def=19.68*2 hp=253.94*2 hp%=0.0496*2 atk=16.54*10 atk%=0.0496*6 er=0.0551*9 em=19.82*2 cr=0.0331*2 cd=0.0662*3;



#################################
#################################

== KOLIBRI STANDARD DELAY ==

# use truncated normal distribution for random delay
fn rand_delay(mean, stddev, min, max) {
  # randnorm has mean: 0 and stddev: 1, so this makes it have mean and stddev from input
  let del = randnorm() * stddev + mean;
  
  # truncate random value according to min and max
  if del < min {
    del = min;
  } else if del > max {
    del = max;
  }
  
  # execute delay
  delay(del);
}

let prev_char_id = -1;
let prev_action_id = -1;

let _execute_action = execute_action;
fn execute_action(char_id number, action_id number, p map) {
  # print(prev_char_id, " ", prev_action_id, " ", char_id, " ", action_id);

  # this next if block handles implict swap or otherwise any pre swap delay specified in this function will not work
  if prev_char_id != char_id && action_id != .action.swap {
    execute_action(char_id, .action.swap, []);
  }

  if action_id == .action.swap {
    # add delay before swap
      # ~3% chance at 6
      # ~7% chance at 20
    rand_delay(14, 4, 6, 20);
  } else if prev_action_id != .action.swap  {
    # add delay before every non-swap
      # ~30% chance at 0
      # 5% chance at 8
    rand_delay(2, 4, 0, 8);
  } else if prev_action_id == .action.swap {
    # add delay after swap to account for repositioning
      # ~16% chance at 6
      # ~16% chance at 18
    rand_delay(12, 6, 6, 18);
  }

  # this here tracks the previous character id so that it can be used above
  prev_char_id = char_id;
  prev_action_id = action_id;
  return _execute_action(char_id, action_id, p);
}



== KOLIBRI NO ATTACK AND SWAP Q DELAY ==

# use truncated normal distribution for random delay
fn rand_delay(mean, stddev, min, max) {
  # randnorm has mean: 0 and stddev: 1, so this makes it have mean and stddev from input
  let del = randnorm() * stddev + mean;
  
  # truncate random value according to min and max
  if del < min {
    del = min;
  } else if del > max {
    del = max;
  }
  
  # execute delay
  delay(del);
}

let prev_char_id = -1;
let prev_action_id = -1;

let _execute_action = execute_action;
fn execute_action(char_id number, action_id number, p map) {
  #print(prev_char_id, " ", prev_action_id, " ", char_id, " ", action_id);

  # this next if block handles implict swap or otherwise any pre swap delay specified in this function will not work
  if prev_char_id != char_id && action_id != .action.swap {
    execute_action(char_id, .action.swap, []);
  }

  if action_id == .action.swap {
    # add delay before swap
      # ~3% chance at 6
      # ~7% chance at 20
    rand_delay(14, 4, 6, 20);
  } else if prev_action_id == .action.attack && action_id == .action.attack {
    // no delay
  } else if prev_action_id == .action.attack && action_id == .action.charge {
    // no delay
  } else if prev_action_id == .action.swap && action_id == .action.burst {
    // no delay
  } else if prev_action_id != .action.swap  {
    # add delay before every non-swap
      # ~30% chance at 0
      # 5% chance at 8
    rand_delay(2, 4, 0, 8);
  } else if prev_action_id == .action.swap {
    # add delay after swap to account for repositioning
      # ~16% chance at 6
      # ~16% chance at 18
    rand_delay(12, 6, 6, 18);
  }

  # this here tracks the previous character id so that it can be used above
  prev_char_id = char_id;
  prev_action_id = action_id;
  return _execute_action(char_id, action_id, p);
}



== MODIFIED CRYSTALLIZE DELAY ==

fn rand_delay(mean, stddev) {
  let del = randnorm() * stddev + mean;
  if del > (mean + mean) {
      del = mean + mean;
  }      
  delay(del);
}

let prev_char_id = -1;
let prev_action_id = -1;
let _execute_action = execute_action;

fn execute_action(char_id number, action_id number, p map) {
  if prev_char_id != char_id && action_id != .action.swap {
    execute_action(char_id, .action.swap, []);
  }
    
  # Inserts a random delay before swap
  if action_id == .action.swap {
    rand_delay(12, 3);
  }
  
  # Inserts pick_up_crystallized("any") before dashes, Yelan E and Xilonen E
  if action_id == .action.dash || ( char_id == .keys.char.yelan && action_id == .action.skill ) || ( char_id == .keys.char.xilonen && action_id == .action.skill ) {
    pick_up_crystallize("any");
  }

  prev_char_id = char_id;
  prev_action_id = action_id;
  return _execute_action(char_id, action_id, p);
}

