#doesn't include E/Q atm
#

let first = true;
for let i = 0; i < 4; i = i + 1 {
  if first {
    furina skill;
  }
  linnea skill, attack:2;
  if !first {
    furina skill;
  }
  furina dash, burst;
  columbina skill, burst;
  noelle skill, burst;
  noelle attack, charge:7;
  furina attack:3;
  noelle attack, charge:7;
  first = false;
}
